{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: linear-gradient(to bottom, rgba(26,16,8,.98), transparent); backdrop-filter: blur(4px);">
    <div class="container-fluid px-4 px-md-5">
       <a class="navbar-brand" href="#inicio">
    <img src="{% static 'img/logo.png' %}" alt="Porras Asadero" class="nav-logo-img"></a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navMain">
            <ul class="navbar-nav gap-md-4 nav-links-custom">
                <li class="nav-item"><a class="nav-link ff-oswald fw-light text-uppercase small text-crema" style="letter-spacing:3px" href="#menu">Menú</a></li>
                <li class="nav-item"><a class="nav-link ff-oswald fw-light text-uppercase small text-crema" style="letter-spacing:3px" href="#nosotros">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link ff-oswald fw-light text-uppercase small text-crema" style="letter-spacing:3px" href="#contacto">Contáctanos</a></li>
            </ul>
        </div>
    </div>
</nav>