{% load static %}
<!DOCTYPE html>
<html lang="es" class="admin-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asadero Porras - Admin</title>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">

    <link href="{% static "css/base2_css2.css"%}" rel="stylesheet">
    <link href="{% static "css/base2_bootstrap.css"%}" rel="stylesheet">
    <link href="{% static "css/base2_bootstrap_icons.css"%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="admin-body-shell">

    <div class="d-flex flex-column flex-lg-row w-100 admin-shell">

        {% if request.user.is_authenticated %}
            {% include "partials/aside.html" %}
        {% endif %}

        <main class="flex-grow-1 d-flex flex-column admin-main">
            <section class="p-3 p-lg-5 flex-grow-1">
                {% block content %}
                {% endblock content %}
            </section>
            {% include "partials/footer.html" %}
        </main>

    </div>

    <script src="{% static 'js/base2_bootstrap_bundle.js' %}" defer></script>
    <script src="{% static 'js/contacto.js' %}" defer></script>
</body>
</html>