{% extends 'base 2.html' %}

{% block content %}

<div style="max-width: 400px; margin: 80px auto; padding: 30px; border: 1px solid #ccc; border-radius: 10px; text-align: center;">

    <h2 style="margin-bottom: 20px;">Iniciar Sesión </h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Usuario" required
        style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #ccc;">

        <input type="password" name="password" placeholder="Contraseña" required
        style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

        <button type="submit"
        style="width: 100%; padding: 10px; background-color: #ff6600; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Entrar
        </button>
    </form>

    {% if form.errors %}
        <p style="color: red; margin-top: 15px;">
            Usuario o contraseña incorrectos 
        </p>
    {% endif %}

</div>

{% endblock %}